.menus .nav-link.active {
  border-bottom: 2px solid #646464 !important;
  font-weight: 600;
}

.menus .nav-link {
  color: #646464;
}

.productPrice {
  font-weight: 600;
}

#cartCanvas {
  overflow: auto;
}


.card-title {
  min-height: 45px;
}