.minhyt290px {
  min-height: 242px;
}

.h-inherit {
  min-height: inherit;
}

.prRow {
  padding: 18px 0px;
  border-bottom: 1px solid #ddd;
}

.prRow:last-child {
  border-bottom: 0px !important;
}

.rmPro {
  color: #000;
}

.rmPro:hover {
  color: #fe1814;
}

.rtRow {
  padding: 10px 0px;
  border-bottom: 1px solid #ddd;
}

.rtRow:last-child {
  border-bottom: none;
}