<app-header></app-header>
<div class="container-fluid minhyt290px p-4">
  <div class="row">
    <div class="col-sm-12 mb-2">
      <h5 class="mb-1">Shopping Cart</h5>
      <label class="font8"
        >Your Total is
        <span class="font600 text-theme">{{
          totalPrice | currency : "INR"
        }}</span>
        for {{ cartProducts.length }} items</label
      >
    </div>
  </div>
  <div class="row gy-sm-0 gy-3">
    <div class="col-sm-8">
      <div class="card shadow-none rounded-1">
        <div class="card-header bg-white rounded-1 d-sm-block d-none">
          <div class="row">
            <div class="col-sm-7 text-center">
              <h6 class="mb-0">Item Details</h6>
            </div>
            <div class="col-sm-5">
              <div class="row">
                <div class="col-sm-6 text-center">
                  <h6 class="mb-0">Quantity</h6>
                </div>
                <div class="col-sm-6 text-center">
                  <h6 class="mb-0">Amount</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body py-0 rounded-1">
          <div
            class="row prRow gy-sm-2 gy-3"
            *ngFor="let pro of cartProducts; let i = index"
          >
            <div class="col-sm-7">
              <div class="row">
                <div class="col-sm-3 col-5">
                  <img
                    class="img-fluid"
                    src="../../assets/images/details_slider/{{ pro.imgs[0] }}"
                    alt=""
                  />
                </div>
                <div class="col-sm-9 col-7">
                  <h6 class="font8 mb-1">
                    {{ pro.desc }}
                  </h6>
                  <label class="font8">
                    <a
                      href="javascript:void(0)"
                      class="rmPro text-decoration-none"
                      data-bs-toggle="modal"
                      data-bs-target="#removeModal"
                      (click)="sendIndex(i)"
                      ><i class="me-2 fa fa-trash"></i>Remove</a
                    ></label
                  >
                </div>
              </div>
            </div>
            <div class="col-sm-5">
              <div class="row">
                <div class="col-sm-6 col-5 d-flex justify-content-center">
                  <input
                    id="q{{ i }}"
                    (change)="changeQuant($event, pro)"
                    min="1"
                    type="number"
                    [(ngModel)]="pro.quantity"
                    class="form-control w-50 rounded-0 smfont8"
                  />
                </div>
                <div class="col-sm-6 col-7 text-sm-center">
                  <h6 class="mb-0">{{ pro.cartPrice | currency : "INR" }}</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card shadow-none rounded-1">
        <div class="card-header p-3 rounded-1 rounded-bottom-0 bg-white">
          <h6 class="mb-1">Payment Summary</h6>
          <p class="font8 mb-0">
            Your shopping cart contains {{ cartProducts.length }} products
          </p>
        </div>
        <div class="card-body px-3 py-0 rounded-1">
          <div class="row rtRow">
            <div class="col-6">
              <label class="font8">Item(s) Subtotal</label>
            </div>
            <div class="col-6 text-end">
              <label class="font8">{{ totalPrice | currency : "INR" }}</label>
            </div>
          </div>
          <div class="row rtRow">
            <div class="col-6">
              <label class="font8">Shipping Charge</label>
            </div>
            <div class="col-6 text-end">
              <label class="font8">{{ 0 | currency : "INR" }}</label>
            </div>
          </div>
          <div class="row rtRow">
            <div class="col-6">
              <label class="font8">Amount Payable</label>
            </div>
            <div class="col-6 text-end">
              <label class="font8">{{ totalPrice | currency : "INR" }}</label>
            </div>
          </div>
          <div class="row py-3 border-bottom">
            <div class="col-12 text-center">
              <button class="btn btn-theme1">Proceed to Checkout</button>
            </div>
          </div>
          <div class="row justify-content-center py-3">
            <div class="col-10 text-center">
              <label class="font8"
                >Have questions about your shopping cart? Call our customer
                satisfaction team at
                <span class="text-theme font600">+8287470019</span> or email
                <span class="text-theme font600"
                  >promosupport@footroolz.com</span
                ></label
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <div class="container-fluid minhyt290px p-4">
  <div class="row" *ngIf="cartProducts.length > 0">
    <div class="col-12">
      <div class="row">
        <div class="col-6"><h6 class="mb-0 font600">Product</h6></div>
        <div class="col-2"><h6 class="mb-0 font600">Price</h6></div>
        <div class="col-2"><h6 class="mb-0 font600">Quantity</h6></div>
        <div class="col-2"><h6 class="mb-0 font600">Total</h6></div>
      </div>
      <hr />
      <div
        class="row gy-3"
        *ngFor="let cartPro of cartProducts; let ind = index"
      >
        <div class="col-sm-6">
          <div class="row">
            <div class="col-2">
              <img
                src="../../assets/images/details_slider/{{ cartPro.imgs[0] }}"
                alt=""
                class="img-fluid"
              />
            </div>
            <div class="col-10">
              <h5 class="text-theme font600 mb-0">
                {{ cartPro.desc }}
              </h5>
            </div>
          </div>
        </div>
        <div class="col-2">
          <label class="">{{ cartPro.price | currency : "INR" }}</label>
        </div>
        <div class="col-2">
          <div class="number-input">
            <input
              id="q{{ ind }}"
              (change)="changeQuant($event, cartPro)"
              min="1"
              type="number"
              [(ngModel)]="cartPro.quantity"
              class="form-control w-50"
            />
          </div>
        </div>
        <div class="col-2 justify-content-between d-flex">
          <label for="" class="">
            {{ cartPro.cartPrice | currency : "INR" }}
          </label>
          <a
            data-bs-toggle="modal"
            data-bs-target="#removeModal"
            (click)="sendIndex(ind)"
            href="javascript:void(0)"
            class="text-secondary"
            ><i class="fa fa-times"></i
          ></a>
        </div>
        <hr />
      </div>
    </div>
    <div class="col-12">
      <div class="row row-third justify-content-between">
        <div class="col-10"><h6 class="mb-0 font600">Subtotal</h6></div>
        <div class="col-2">
          <label>{{ totalPrice | currency : "INR" }}</label>
        </div>
      </div>
      <hr />
      <div class="row grand-row1 justify-content-between">
        <div class="col-10"><h6 class="mb-0 font600">Shipping</h6></div>
        <div class="col-2"><label>Free Shipping</label></div>
      </div>
      <hr />
      <div class="row justify-content-between">
        <div class="col-10"><h6 class="mb-0 font600">Grand Total</h6></div>
        <div class="col-2">
          <h6 class="font600">{{ totalPrice | currency : "INR" }}</h6>
        </div>
      </div>
      <div class="row grand-row5">
        <div class="col-12">
          <button type="button" class="btn btn-theme1 d-flex px-5 mx-auto">
            PROCEED TO CHECKOUT
          </button>
        </div>
      </div>
    </div>
  </div>
  <div
    class="row align-items-center h-inherit"
    *ngIf="cartProducts.length == 0"
  >
    <div class="col-sm-12 text-center">
      <h2 class="text-theme">Please add a product to cart</h2>
      <p class="text-primary">Your cart is empty right now</p>
    </div>
  </div>
</div> -->

<app-footer></app-footer>

<div
  class="modal fade"
  id="removeModal"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body text-center py-4">
        <div for="text-center">
          <p class="mb-2">Are you sure you want to remove this product?</p>
          <p class="mb-0">
            <button
              data-bs-dismiss="modal"
              (click)="removePro()"
              class="btn btn-sm btn-theme1 px-3 me-2"
            >
              Yes
            </button>
            <button data-bs-dismiss="modal" class="btn btn-sm btn-theme2 px-3">
              No
            </button>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
