.filters .nav-link {
  border: none !important;
  color: #646464;
}

.filters .nav-link.active {
  background: transparent;
  color: #ed043b;
  font-weight: 700;
  border-radius: 0px;
}

.form-control3 {
  display: block !important;
  width: 100% !important;
  padding: 0.375rem 0.75rem !important;
  font-size: 1rem !important;
  font-weight: 400 !important;
  line-height: 1.5 !important;
  color: #212529 !important;
  background-color: #fff !important;
  background-clip: padding-box !important;
  border: 1px solid #ced4da !important;
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  appearance: none !important;
  border-radius: 0.25rem !important;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out !important;
}

.card-title {
  min-height: 45px;
}

.productPrice {
  font-weight: 600;
}

#productType .form-check input:checked,
#size .form-check input:checked,
#price .form-check input:checked {
  background-color: #ed043b;
  border-color: #ed043b;
}

/* For Mobile Case Only*/
@media screen and (max-width: 767px) {
  .card-title {
    min-height: 38px !important;
    font-size: 0.7rem;
  }

  .filters .nav-link {
    font-size: 0.8rem;
  }

  .mrPrice {
    font-size: 0.7rem;
  }

  .productPrice {
    font-size: 1rem;
  }

  .productOffer {
    font-size: 0.9rem;
  }

  .avSize {
    font-size: 0.7rem !important;
  }

  .avSizeArray {
    font-size: 0.7rem !important;
  }

  .crtBtn {
    font-size: 0.6rem;
  }

  #productType .form-check,
  #size .form-check,
  #price .form-check {
    font-size: 0.8rem;
  }

  #productType .btn-theme1,
  #size .btn-theme1,
  #price .btn-theme1 {
    font-size: 0.7rem
  }

  .filters .nav-link {
    padding: 5px 10px
  }
}