<header>
  <!-- Content -->
</header>

<main>
  <!-- Content -->
</main>

<footer class="footer shadow-lg pt-0">
  <div class="row justify-content-center py-3">
    <div class="col-sm-3 text-center">
      <a
        href="javascript:void(0)"
        class="text-theme font600"
        (click)="scroll()"
      >
        <i class="fa fa-arrow-up"></i> Back to Top</a
      >
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3">
      <div class="footer__addr">
        <h1 class="footer__logo">
          <img src="../../../assets/images/fabRoolz.svg" alt="" />
        </h1>

        <h2 class="fs-6 font600">Mohd Shariq</h2>

        <address class="text-wrap">
          House Number-43 , Gali Number-1,Jafrabad,New Seelampur,Delhi-110053
          <br />
          <label for="">Email : </label>
          <a
            class="text-decoration-none text-dark"
            href="mailto:mohdshariq71777@gmail.com"
          >
            mohdshariq71777@gmail.com</a
          >
        </address>
      </div>
    </div>
    <div class="col-sm-3 col-6">
      <div>
        <h4><b>Information</b></h4>
      </div>
      <div class="">
        <ul type="none">
          <li>
            <a
              routerLink="/"
              (click)="scroll()"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              class="list-items text-decoration-none text-dark"
              href="javascript:void(0)"
              >Home</a
            >
          </li>
          <li>
            <a
              (click)="scroll()"
              routerLink="/about-us"
              routerLinkActive="active"
              class="list-items text-decoration-none text-dark"
              href="javascript:void(0)"
              >About Us</a
            >
          </li>
          <li>
            <a
              (click)="scroll()"
              routerLinkActive="active"
              routerLink="/shop"
              class="list-items text-decoration-none text-dark"
              href="javascript:void(0)"
              >Shop</a
            >
          </li>
          <li>
            <a
              class="list-items text-decoration-none text-dark"
              href="javascript:void(0)"
              >Contact Us</a
            >
          </li>
        </ul>
      </div>
    </div>
    <div class="col-sm-3 col-6">
      <div>
        <h4><b>Need Help</b></h4>
      </div>
      <div class="">
        <ul type="none">
          <li>
            <a
              class="list-items text-decoration-none text-dark"
              href="javascript:void(0)"
              >Track Orders</a
            >
          </li>
          <li>
            <a
              class="list-items text-decoration-none text-dark"
              href="javascript:void(0)"
              >Customer Support</a
            >
          </li>
          <li>
            <a
              class="list-items text-decoration-none text-dark"
              href="javascript:void(0)"
              >Privacy Policy</a
            >
          </li>
          <li>
            <a
              class="list-items text-decoration-none text-dark"
              href="javascript:void(0)"
              >Refund Policy</a
            >
          </li>
        </ul>
      </div>
    </div>
    <div class="col-sm-3">
      <div>
        <h4><b>Newsletter</b></h4>
      </div>
      <div class="p-input">
        <p class="para">
          Get instant updates about our new products and special promos!
        </p>
        <div class="col mb-3">
          <input
            type="text"
            class="form-control border-bottom"
            placeholder="Enter your email here"
            aria-label="Enter your email here"
          />
        </div>
        <div class="mb-sm-0 mb-2">
          <button type="button" class="btn btn-theme1 px-5 rounded-0">
            SUBSCRIBE
          </button>
        </div>
      </div>
    </div>
  </div>

  <div>
    <p>
      &copy; 2023 <span class="font600 text-dark">Fab Roolz</span> - All rights
      reserved.
    </p>
  </div>
</footer>
